<!DOCTYPE html>
<html lanf="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Anaconda.js</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
        <script src="{{ url_for('static',filename='scripts/script.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="scores">
                <h1>SCORE: <span id="score">000</span></h1>
                <h1 id="high-score-container">HIGH SCORE: <span id="high-score">000</span></h1>
            </div>
            <div class="game-border">
                <div id="anaconda-board"></div>
                <h1 id="instruction-text">Press spacebar to start the game.</h1>
            </div>
        </div>
    </body>
</html>